.tag {
  padding: 5px 15px;
  margin: 5px 10px;
  border-radius: 15px;
  border: none;
  opacity: 0.9;
  outline: none;
}

.tag:hover {
  opacity: 1;
  box-shadow: -1px 1px 5px rgba(231, 244, 251, 0.911);
}
