* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(242, 247, 255);
}
a {
  color: black;
  text-decoration: none;
}

.display-flex {
  display: flex;
}

.m-10 {
  margin: 0 10px;
}

.border {
  border: 2px solid rgba(234, 240, 248, 0.721);
}
